.App {
  text-align: center;
  
}
/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

 /* .actionCol{
   text-align: center;
   width: 50%;
   
}  */
/* th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
} */
tr:hover {background-color: rgb(195, 226, 235);}

/* table {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #272525;
  
}

th, td {
  text-align: left;
  padding: 18px;
} */


.editButton{
    color:rgb(26, 146, 186);
    cursor:pointer;
}
.deleteButton{
    color:rgb(202, 53, 23);
    cursor:pointer;
}
.center {
  max-width: 70%;
  margin: 0 auto;
 
}

table {
  border-collapse: collapse;
  /* width: 100%; */
  border-color: blanchedalmond;

}

thead {
  border: #302a2a;
  border-width: 1em;
  background-color: #f4f4f4;
  position: sticky;
  top: 0;
  z-index: 1;
}

.taskFormClass{
  background-color: #eec9c9;
 width: 100%;
  
}
#focusTrue {
  background-color: red;
}


tbody {
  display: block;
  max-height: 300px; /* fixed height */
  overflow-y: auto;
}

thead, tbody tr {
  /* padding: 10px; */
  display: table;
  width: 100%;
  table-layout: fixed;
  text-align: left;
  
  
}
.descClass{
text-wrap:initial;
}